# The program checks for configuration files in the following order:
# - $XDG_CONFIG_HOME/powermate.toml (usually ~/.config/powermate.toml)
# - /etc/powermate.toml
# You can override this and use a custom path by starting the program with the "-c" option.
# If a file cannot be found, the default settings correspond to the values in this file.

# Path to device:
dev = "/dev/input/powermate"

# The default behavior is to control the default sink. Use "pacmd list-sinks" to list sinks.
# Control a specific sink:
# sink_name = "alsa_output.usb-C-Media_Electronics_Inc._USB_Audio_Device-00.analog-stereo"

# Whether to daemonize the process or not:
daemonize = false

# How much (in percent) to change the volume for each step:
p = 2.0

# Min and max volume (in percent):
min_volume = 0.0
max_volume = 100.0

# Custom commands (will disable default behavior).
# Set to an empty string to disable the default behavior without executing a custom command.
# press_command = "" # Default: mute/unmute
# long_press_command = "" # Default: toggle movie mode (disables the LED)
# clock_wise_command = "" # Default: increases the volume by p%
# counter_clock_wise_command = "" # Default: decreases the volume by p%
# press_clock_wise_command = ""
# press_counter_clock_wise_command = ""

# Timeouts (in milliseconds)
long_press_ms = 1000

# Handy commands:
# xdotool key XF86AudioPlay
# xdotool key XF86AudioPrev
# xdotool key XF86AudioNext
# xdotool key XF86AudioLowerVolume
# xdotool key XF86AudioRaiseVolume
# xdotool key XF86AudioMute
# systemctl suspend
